extends ../common/base

block page_var
    script.
        var page_var = {
            id: 'detail',
            path: 'plans/detail/',
            use_require_js: true
        };

block content
  .hidden
    input(type='hidden', class='nodeRenderData', value=mapData)
  .pl_wrapper

    // 头部
    .headers
      .banners
        img.bimg(src=basicInfo.picUrl)
        // info
        .infos
          // title
          .title
            span.in
            p
              span.main_title #{basicInfo.title}
          // other
          .other
            p
              span.plan_view 浏览: #{basicInfo.viewCnt}
              span.plan_copy 复制: #{basicInfo.copyCnt}
        .mask_bg
    // 头部
    .pl_fixed_menu.fontYaHei
      - var basic = basicInfo
      .pl_fixed_menu_box.clearfix
        ul.menu
          li.pl.current
            a 行程总览
          li.pvw_date
            a 日程模式
        .seting
          .link
            a.ui_buttonC 复制行程
            a.ui_buttonA 创建行程


    .pl_contents
      // day list
      .pl_day_list.fontYaHei
        - var arrDaySpotData = spotData
        - var dayCnt = 0
        - var viewspotCount = 0
        - var elementIndex = 0
        each oneDaySpots in arrDaySpotData
          - dayCnt = dayCnt + 1
          .day_item
            .day_row
              #day1.dayanchor(name='day' + dayCnt)
              .day_clock(name='day' + dayCnt)
                b.clock_number D#{dayCnt}
              .day_desc
                span
                p
                  span.day_time 2014-11-30
                  br
                  span.day_local
                    | 上海浦东新区,札幌
              .clear
            ul.day_list

              each spot in oneDaySpots
                if spot.type != "airRoute" && spot.type != 'trainRoute'
                  - elementIndex = elementIndex + 1
                case spot.type
                  when "airport"
                    li(data-mode='airport', data-id=spot.id)
                      .fly_row
                        .day_mark
                          span.icons.plane_icon
                        .fly_desc
                          p.fly_time
                            span.traffic_place #{spot.name}
                        .day_local
                          span.local(data-day=dayCnt)
                    .line(data-index=elementIndex).line_traffic
                      span.js_showPoiTrafficPopup 两地距离：计算中......
                      span.line_01
                        | 上海：9:00
                        i.ico01.ico_feiji
                        | 丽江：12:00


                  when "trainStation"
                    li(data-mode='trainStation', data-id=spot.id)
                      .fly_row
                        .day_mark
                          span.icons.train_icon
                        .fly_desc
                          p.fly_time
                            span.traffic_place #{spot.name}
                        .day_local
                          span.local(data-day=dayCnt)
                    .line(data-index=elementIndex).line_traffic
                      span.js_showPoiTrafficPopup 两地距离：计算中......
                      span.line_01
                        | 丽江：9:00
                        i.ico01.ico_gongjiao
                        | 香格里拉：12:00


                  when "viewspot"
                    - viewspotCount = viewspotCount + 1
                    li(data-mode='viewspot', data-id=spot.id, data-pid='106674')
                      .number_row
                        .day_mark
                          .number #{viewspotCount}
                        .fly_desc
                          .row_info
                            img(src='/images/plans/detail/80.jpg', onerror='this.src="/images/plans/detail/poi_80_80.png";')
                            .row_title
                              h2.mainTitle #{spot.name}
                              h2.subTitle
                                | 评分：
                                span.qui-icon.star
                                span.qui-icon.star
                                span.qui-icon.star
                                span.qui-icon.star
                                span.qui-icon.empty
                                em 门票：20元
                                em 建议游玩：2小时
                        .day_local
                          span.local(data-day=dayCnt)
                    .line(data-index=elementIndex)
                      span.js_showPoiTrafficPopup 两地距离：计算中......
                      span.line_01 查看交通

                  when "hotel"
                    li(data-mode='hotel', data-id=spot.id, data-pid='71369')
                      .sleep_row.last_row
                        .day_mark
                          span.icons.sleep_icon
                        .fly_desc
                          .row_info
                            img(src='/images/plans/detail/80.jpg', onerror='this.src="/images/plans/detail/poi_80_80.png";')
                            .row_title
                              h2.mainTitle #{spot.name}
                              h2.subTitle
                                | 评分：
                                span.qui-icon.star
                                span.qui-icon.star
                                span.qui-icon.star
                                span.qui-icon.star
                                span.qui-icon.empty
                                em 门票：20元
                                em 建议游玩：2小时
                        .day_local
                          span.local(data-day=dayCnt)
                    .line(data-index=elementIndex)
                      span.js_showPoiTrafficPopup 两地距离：计算中......
                      span.line_01 查看交通


        // day list END
      // sidebar
      .pl_sidebar
        .pl_fixed_sidebar
          // 侧栏容器
          .info.map
            #mapContainer.container
              //
                img(src='/images/plans/detail/map.png')



    .pvw_date_contents(style="display:none")
      .d_title
        ul
          li.dt1 空
          li.dt2
            span 日期
          li.dt3
            span 交通
          li.dt4
            span 景点
          li.dt5
            span 住宿
          li.dt6
            span 费用
          li.dt7
            span 备注
      table(width='100%', border='0', cellspacing='0', cellpadding='0')
        tbody
          tr
            td
              .tt1
                span D1
            td
              .tt2
                .time 12月27日
                span.xq 星期六
                ul.adlist
                  li
                    i.circle
                    b 上海
                  li
                    i.circle
                    b 香格里拉
            td(valign='top')
              .tt3
                .list
                  strong.title 09:00 - 12:50
                  p.city
                    a.cLightgray(href='', target='_blank') 上海
                    span.traffic_plane
                    a.cLightgray(href='#') 札幌
                  .no --
                .list
                  strong.title 14:00 - 15:00
                  p.city
                    | 新千岁机场
                    span.train
                    a.cLightgray(href='#') 札幌
                  .no --
            td(valign='top')
              .tt4
                ul
                  li
                    | 1.
                    span.cn
                      a.cGray(href='#') 成吉思汗达摩本店
                    span.en
                      | ，
                      a.cLightgray(href='#') Jingisukan daruma honten
                  li
                    | 2.
                    span.cn
                      a.cGray(href='#') 成吉思汗达摩本店
                    span.en
                      | ，
                      a.cLightgray(href='#') Jingisukan daruma honten
                  li
                    | 3.
                    span.cn
                      a.cGray(href='#') 成吉思汗达摩本店
                    span.en
                      | ，
                      a.cLightgray(href='#') Jingisukan daruma honten
            td(valign='top')
              .tt5
                ul
                  li
                    span.cn
                      a.cGray(href='#') 札幌
                    span.en
                      a.cLightgray(href='#') Sapporo
                  li
                    span.cn 定山溪
            td(valign='top')
              .tt6
                | 费用
            td(valign='top')
              .tt7
                p 反垄断姐夫绿色
          tr
            td
              .tt1
                span D1
            td
              .tt2
                .time 12月27日
                span.xq 星期六
                ul.adlist
                  li
                    i.circle
                    b 上海
                  li
                    i.circle
                    b 香格里拉
            td(valign='top')
              .tt3
                .list
                  strong.title 09:00 - 12:50
                  p.city
                    a.cLightgray(href='', target='_blank') 上海
                    span.traffic_plane
                    a.cLightgray(href='#') 札幌
                  .no --
                .list
                  strong.title 14:00 - 15:00
                  p.city
                    | 新千岁机场
                    span.train
                    a.cLightgray(href='#') 札幌
                  .no --
            td(valign='top')
              .tt4
                ul
                  li
                    | 1.
                    span.cn
                      a.cGray(href='#') 成吉思汗达摩本店
                    span.en
                      | ，
                      a.cLightgray(href='#') Jingisukan daruma honten
                  li
                    | 2.
                    span.cn
                      a.cGray(href='#') 成吉思汗达摩本店
                    span.en
                      | ，
                      a.cLightgray(href='#') Jingisukan daruma honten
                  li
                    | 3.
                    span.cn
                      a.cGray(href='#') 成吉思汗达摩本店
                    span.en
                      | ，
                      a.cLightgray(href='#') Jingisukan daruma honten
            td(valign='top')
              .tt5
                ul
                  li
                    span.cn
                      a.cGray(href='#') 札幌
                    span.en
                      a.cLightgray(href='#') Sapporo
                  li
                    span.cn 定山溪
            td(valign='top')
              .tt6
                | 费用
            td(valign='top')
              .tt7
                p 反垄断姐夫绿色


    //
      顶部导航效果、中部导航效果
    script(src='/javascripts/plans/detail/common.js')
    //
      右侧图片切换效果封装
    script(src='/javascripts/plans/detail/qyerSlidImg.js')
    //
      左侧时间线
    script(src='/javascripts/plans/detail/timeList.js')
    //
      回顶部
    script(src='/javascripts/plans/detail/gotop.js')
    //
      主题tab切换（总览模式｜日历模式）
    script(src='/javascripts/plans/detail/tabSwitch.js')