extends ../common/base

block page_var
    script.
        var page_var = {
            id: 'edit',
            path: 'plans/',
            use_require_js: true
        };

    link(href="/stylesheets/lib/jquery.datetimepicker.css" rel="stylesheet")

block content
    div.top_bar
        div.title(data-id=basicInfo.id  data-locId=basicInfo.locId data-template=basicInfo.templateId)
            input.J_title(value=basicInfo.title)
        div.time
            input.J_calendar

        div.save 保存路线

    div.edit_region
        div.day_navigation
            div.day_tab_box
                div.J_all_day.current 全程
                ul.J_day_list(id="day_list")
                    //
                        li.day(data-num="1") D1
                div.J_add_day

        div.day_detail_box
            ul.J_day_detail_list

        div.map_box
            div.map_canvas(id="map_inner")

        div.select_tab_box
            ul.select_tab
                li.viewspot(href='javascript:;') 景点
                span.divider
                li.hotel(href='javascript:;') 酒店
                //
                    span.divider
                    li.restaurant(href='javascript:;') 美食
                    span.divider
                    li.shopping(href='javascript:;') 购物
                    span.divider
                    li.traffic(href='javascript:;') 交通

            div.loading-bar-container
                div.loading_bar

            div.tab_content
                div.content_viewspot(style="display:none")
                    div.search
                        input(name="spotview" type="text")
                    //- div.sort_tab
                    //-     div.score(href='javascript:;') 评分
                    //-         b.score_select_arr
                    //-     span.divider
                    //-     div.popular(href='javascript:;') 热门
                    //-         b.popular_select_arr
                    div.list_viewspot
                    div.pageCtr
                        div.page_pre  上一页
                        div.page_next 下一页

                div.content_hotel
                    div.search
                        input(name="hotel" type="text")
                    //- div.sort_tab
                    //-     div.price(href='javascript:;') 价格
                    //-         b.price_select_arr
                    //-     span.divider
                    //-     div.score(href='javascript:;') 评分
                    //-         b.score_select_arr
                        //- span.divider
                        //- div.popular(href='javascript:;') 热门
                        //-     b.popular_select_arr
                        //- span.divider
                        //- div.entirety(href='javascript:;') 综合
                        //-     b.entirety_select_arr
                    div.list_hotel
                    div.pageCtr
                        div.page_pre  上一页
                        div.page_next 下一页

                div.content_restaurant 酒店
                    //- div.search
                    //-     input(name="restaurant" type="text")
                    div.sort_tab
                        div.price(href='javascript:;') 价格
                            b.price_select_arr
                        span.divider
                        div.score(href='javascript:;') 评分
                            b.score_select_arr
                        span.divider
                        //- div.popular(href='javascript:;') 热门
                        //-     b.popular_select_arr
                        //- span.divider
                        //- div.entirety(href='javascript:;') 综合
                        //-     b.entirety_select_arr
                    div.list_restaurant

                div.content_shopping 购物
                    //- div.search
                    //-     input(name="shopping" type="text")
                    div.sort_tab
                        div.price(href='javascript:;') 价格
                            b.price_select_arr
                        span.divider
                        div.score(href='javascript:;') 评分
                            b.score_select_arr
                        span.divider
                        div.popular(href='javascript:;') 热门
                            b.popular_select_arr
                        span.divider
                        div.entirety(href='javascript:;') 综合
                            b.entirety_select_arr
                    div.list_restaurant

                div.content_traffic 交通
                    //- div.search
                    //-     input(name="traffic" type="text")
                    div.sort_tab
                        div.price(href='javascript:;') 价格
                            b.price_select_arr
                        span.divider
                        div.score(href='javascript:;') 评分
                            b.score_select_arr
                        span.divider
                        div.popular(href='javascript:;') 热门
                            b.popular_select_arr
                        span.divider
                        div.entirety(href='javascript:;') 综合
                            b.entirety_select_arr
                    div.list_restaurant

    .hidden
        input(type='hidden' class='nodeRenderData' value=spotDataStr)
        input(type='hidden' class='nodeTrafficData' value=trafficRoute)

    script(src='/javascripts/lib/jquery-ui.min.js' rel='javascript')
    script(src='/javascripts/lib/jquery.datetimepicker.js' rel='javascript')