extends ../common/base
extends ../common/base

block page_var
    script.
        var page_var = {
            id: 'edit',
            path: 'plans/',
        };
      
    link(href="/stylesheets/plans/jquery.datetimepicker.css" rel="stylesheet")
    
    
block content
    .content.f-cb
      .bd.t-bd
      h1.t
        | #{locName.from}--#{locName.arr}
        .ugcId(style='display:none') #{id}

      .t-left
        h1.time
          | 出发时间：
          input#datetimepicker.date_picker(type='text')
          //
              a.btn02.btn02-c4
                | 确定
          a.confirm
        - var dayCount = 0
        each oneDayRoute in daysRoute
          - dayCount++
          ul.edit-list(data-day=dayCount)
            li.driver.disabled.active
              i.ico01-d D#{dayCount}
              i.ico01.ico01-close
            each spot in oneDayRoute
              li(draggable='true', style='height: 40px;')
                | #{spot.itemName}
                i.ico01.ico01-close
                .id(style='display:none') #{spot.itemId}
                .type(style='display:none') #{spot.type}
        
        .add
          em +
          | 添加一天
      
      
      .t-right
        .tab
          a#tab01.item.item01-hover
          a#tab02.item.item02-normal 
        
        
        .search
          input.s-input(placeholder='搜索')
          i.ico02.ico02-search
          
          
        .imgs.f-cb#item01
          each spot in spots
            a
              div
                img(src=spot.pic width='213' height='144')
              .id(style='display:none') #{spot._id}
              .type(style='display:none') vs
              em.spot-name #{spot.name}
              br
              i.ico01.ico01-good
              | #{spot.ranking}
              i.ico01.ico01-sugg
              | 建议游玩#{spot.timeCost}小时
              if spot.tags != ''
                em.label #{spot.tags}
              i.ico02.ico02-add
        
        
        
        .imgs.f-cb#item02(style='display: none;')
            each hotel in hotels
                a
                    div
                        img(src=hotel.pic width='213' height='144')
                    .id(style='display:none') #{hotel._id}
                    .type(style='display:none') hotel
                    .value
                        em.ranking #{hotel.ranking}星级
                        em.price ￥#{hotel.price}起
                    .hotel-name 
                        em #{hotel.name}
                    .phone
                        i.ico-phone
                        | #{hotel.phone}
                    .addr
                        i.ico-addr
                        | #{hotel.address}
                    i.ico02.ico02-add
        
        .more
        i.ico02.ico02-loading
        a.btn 加载更多···
                    
    script(src='/javascripts/plans/jquery.sortable.min.js' rel='javascript')
    script(src='/javascripts/plans/jquery.datetimepicker.js' rel='javascript')
