extends ../common/base

block page_var
    script.
        var page_var = {
            id: 'timeline',
            path: 'plans/',
        }
        
    script(src='/javascripts/gmap/googlemap.js', rel='javascripts')
    script(src='/javascripts/FileSaver.js', rel='javascripts')
    script(src='/javascripts/jspdf.js', rel='javascripts')
    script(src='http://maps.google.cn/maps/api/js?sensor=false&amp;key=AIzaSyCuXDkC1uoHaSctnrsGSGfpj9QVCUrfw1w', rel='javascripts')
    //
      script(src='http://google-maps-utility-library-v3.googlecode.com/svn/trunk/styledmarker/src/StyledMarker.js', rel='javascripts')
    script(src='/javascripts/jspdf.js', rel='javascripts')

block content
    .opt
      //
        a.save 保存
        a &nbsp;/
      a.color-01(href="/plans/modify/" + basicInfo._id + '/?DEST=' + basicInfo.destinaton.name) 编辑路线
      //
        a 发送朋友
        a &nbsp;/
      a &nbsp;/
      a.pdf PDF下载
    .bd.t-bd.ct

      h1.t
        | #{basicInfo.title}
        p.id(style='display:none') #{basicInfo._id}
        b.requestUrl(style='display:none') #{basicInfo.requestUrl}
      
      .b-ct
        .b1 全程#{basicInfo.days}天
        .b2 ￥#{basicInfo.budget[0]}-￥#{basicInfo.budget[1]}
    
    hr
    .content.f-cb
      h1.cur_day
        b.d-title 第一天
        //
          b 2014-01-01
      
      .t-left
        .timeline
          ul#timeLine
            - var flag = 0
            - var numToChinese = {1: "一",2: "二",3: "三",4: "四",5: "五",6: "六",7: "七",8: "八",9: "九",10: "十",11: "十一",12: "十二",13: "十三",14: "十四",15: "十五",16: "十六",17: "十七",}
            each day in navigation
              - flag++
              if flag == 1
                li(data-status='active', data-for='list-01')
                  i.point.point-01
                  a.btn02.btn02-c1(href='#detail-d1') 第一天
                  i.arr.arr-down
                #list-01.sub_layer(style='display: block;')
                  - var t = 0 
                  each spot in day.actv
                    - t++
                    if t == 1
                      a.btn02.btn02-c3.btn02-c1 #{spot.itemName}    
                    else
                      a.btn02.btn02-c3 #{spot.itemName} 
              
              else if flag < 10
                li(data-for='list-0' + flag)
                  i.point
                  a.btn02(href='#detail-d' + flag) 第#{numToChinese[flag]}天
                  i.arr.arr-up
                div(id="list-0"+flag class="sub_layer")  
                  - var t = 0
                  each spot in day.actv
                    - t++
                    if t == 1
                      a.btn02.btn02-c3.btn02-c1 #{spot.itemName}    
                    else
                      a.btn02.btn02-c3 #{spot.itemName} 
                        
              else
                li(data-for='list-' + flag)
                  i.point
                  a.btn02(href='#detail-d' + flag) 第#{numToChinese[flag]}天
                  i.arr.arr-up
                div(id="list-"+flag class="sub_layer")  
                  - var t = 0
                  each spot in day.actv
                    - t++
                    if t == 1
                      a.btn02.btn02-c3.btn02-c1 #{spot.itemName}    
                    else
                      a.btn02.btn02-c3 #{spot.itemName}
                    
                          
              
        .timeline-detail
          - var dayCount = 0
          - var vsCount = 0
          - var arrHome = 0          
          each day in allRoutes
            - dayCount++
            
            if dayCount < 10
              ul(data-day='0'+dayCount class="day")
                - var flag = 0            
                each spot in day.actv
                  - flag++
                                                        
                  if (spot.type == "airport" || spot.type == "trainStation") && spot.stopType == "dep"
                    li  
                      i.ico03.ico03-car
                      .m
                        h3 #{spot.itemName}  #{day.date}
                        a.btn02.btn02-c4 #{day.actv[flag].itemName}
                        | #{day.actv[flag].ts}出发——#{day.actv[flag].arrTime}到达 
                      
                  if (spot.type == "airport" || spot.type == "trainStation") && spot.stopType == "arr"  
                    - arrHome++
                    li
                      i.ico03.ico03-car
                      .m
                        h3 #{spot.itemName}
                        if arrHome == 1
                          p.suggest
                            i.ico01.ico01-km
                            | 距离12.3公里  建议打车                            
                        else
                          p.suggest
                            | 旅途结束，祝您快乐!

                        
                  if spot.type == "vs"
                    li
                      - vsCount++
                      i.ico03.ico03-spot
                      .m(id="vs_" + vsCount class="viewspot" data-latlng=spot.lat + '-' + spot.lng)
                        .latlng(style="display:none;") #{spot.lat},#{spot.lng}
                        h3 #{spot.itemName}
                        img.spot-img(data-url='/viewspot/detail/' + spot.itemId, src=spot.imageList[0] width=300 height=160)
                        br
                        b 1、建议游玩:#{spot.timeCost}小时  2、开放时间:#{spot.openTime}  3、门票:￥#{spot.price}
                      
                        p.suggest
                          i.ico01.ico01-km
                          | 距离12.8公里  建议公交
                        
                  if spot.type == "hotel"
                    li
                      i.ico03.ico03-hotal
                      .m
                        h3
                          | #{spot.itemName}
                        p.hotal
                          i.point ·
                          | ￥#{spot.price}起
                          i.point ·
                          | 电话 #{spot.phoneList[0]}
                          i.point ·
                          | #{spot.addr}
                
            else
              ul(data-day=dayCount)     
          
          #totalSpots(style='display:none') #{vsCount}
              
   
                  
                  
      .t-right
        .map(id="gmap")  
        
        
        
      .sider(style='display: none;')
        .tab-c
          .c.f-cb
            .left
              img(src='/images/plans/timeline/list.jpg')
            .right
              h3.t3 loading...
              em.color-02 AAAAA
              i.ico01.ico01-flag 333人
              i.ico01.ico01-heart 6666人
              p.p2
                | 门票：￥999
                | 开放时间：19:00-20:00  建议游玩：2小时
                | 最佳月份：全年
          .c
            h2.t1.t2 |简介
            p 简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介
          .c
            a.btn02.btn02-c1 景区攻略
            p ~~
    .layer(style='display: none;')
    
    
