extends ../common/base

block meta
    title #{article.title}-旅行派
    meta(name="keywords" content="#{article.title},旅行文章")
    meta(name="description" content="#{article.title},旅行文章")

block page_var
    script.
        var page_var = {
            id: 'article',
            path: 'misc/',
            use_require_js: false
        }

block content
    .content
        .article(data-id='#{article.id}')
            .title #{article.title}
            | By
            .source #{article.source}
            .author #{article.authorName}
            .date #{article.publishTime}
            !{article.content}
            img(src=article.image width=1002 height=auto)
        .recomlist
            h2 推荐阅读
            - var i=0;
            each article in articles
                - i=i+1;
                i #{i}
                a(target="_blank" href='/misc/article/#{article.id}')
                    | #{article.title}