extends ../common/base

block page_var
    script.
        var page_var = {
            id: 'detail',
            path: 'route/',
        }
    script(src='http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js' type='text/ecmascript')
block content
    .main_container
        h1 #{details.title}
        p.bn(data-url='/plans/timeline/' + details._id + '?_fromLoc=') 复制路线
        hr
        .tab
            a#tab01.item.item01-hover
            a#tab02.item.item02-normal
        #item01.tab-c
            .c
                h1.t1
                p
                    span.day
                        b.dot ●
                        | 全程 #{details.days} 天
                    span.cost
                        b.dot ●
                        | 人均 #{details.budget[0]}-#{details.budget[1]} 元
                    br
                    br
                    span.tags
                        b.dot ●
                        | 旅途印象：#{details.tags}
            .c
                h3.t1.t2
                    i.ico02.ico02-circle
                    b 路线速览
                .para
                    -var i=0;
                    each day in details.summary
                        .day_act
                            -i=i+1;
                            span.date D#{i}
                            | #{day}
                            br
            if (details.moreDesc != "")
                .c
                    h3.t1.t2
                        i.ico02.ico02-circle
                        b #{details.title}
                    .moredesc !{details.moreDesc}
        #item02.tab-c(style='display: none;')
            .c
                h1.t1
                ul.about-list
                    each note in notes
                        li(data-url=note.sourceUrl)
                            if  (note.authorAvator != NULL)
                                img.sider-userimg(src=note.authorAvator)
                            else
                                img.sider-userimg(src='/images/route/detail/user02.png')
                            h1.t1 #{note.title}
                            em.time 2014-10-1
                            em.au
                                .name #{note.authorName}
                                | 发表
                            .txt #{note.summary}
                            .tip
                                i.ico01.ico01-eye
                                b 浏览 #{note.viewCnt}
                            .tip
                                i.ico01.ico01-source
                                case note.source
                                    when "qyer"
                                        b 文章来自穷游网
                                    when "baidu"
                                        b 文章来自百度旅游
                                    when "mafengwo"
                                        b 文章来自蚂蜂窝
                                    default
                                        b
