doctype html
html
  include ./head.jade
  
  body
    #description
     | #{basicInfo.title} | #{basicInfo.days} | #{basicInfo.budget}
     br
     
     
    #navigation
      - var dateCount = 0
      - var spotCount = 0
      each day in navigation
        - var dateNum = "day_"
        - dateCount++
        - dateNum = dateNum + dateCount
        div(id=dateNum class="date") 第#{dateCount}天 (#{day.date})
          each spot in day.actv
            - var spotId = "spot_"
            - var latLngId = "latLng_"
            - var typeId = "type_"
            - spotCount++
            - spotId = spotId + spotCount
            - latLngId = latLngId + spotCount
            - typeId = typeId + spotCount
            div(id=spotId class="spot") #{spot.itemName}
            div(id=typeId style="display: none") #{spot.type}
            div(id=latLngId class="latLng" style="display: none") #{spot.latLng}
        br  
      div(id="totalSpots") #{spotCount}
              
    #detailRoute
      each oneDay in allRoutes
        h3
          .daynum #{oneDay.date}
        - var oneDayRoutes = oneDay.actv
        each route in oneDayRoutes
          if route.type == "airport"
            .route #{route.itemName} #{oneDay.date}
          if route.type == "airRoute" || route.type == "trainRoute"
            .route #{route.itemName} #{route.ts}~#{route.arrTime}
          if route.type == "vs"
            .route #{route.itemName}
            .pic
              img(src="#{route.imageList[0]}", height="200" width="300")
              .info
                .info-1 建议游玩时间: #{route.timeCost} 小时
                .info-2 预计开销: #{route.price} 元
          if route.type == "hotel"
            .route 
              h4 #{route.itemName}
              .info-1 预计开销: #{route.price} 元
              .info-2 Phone: #{route.phoneList[0]}
              .info-3 地址: #{route.addr}
          br
    #map
    
