extends common/base


block page_var
    script(src='/javascripts/lib/cityselector.js', rel='javascripts')
    link(href='/stylesheets/lib/cityselector.css', rel='stylesheet')
    script.
        var page_var = {
            id: 'index',
            path: '',
            use_require_js: false
        }
    script(src='http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js' type='text/ecmascript')


block content
    .bd
        .slider-content
            .slider-container
                .main-slider
                    .slide-item(style='display: block;')
                        img(src='/images/index/banner.jpeg')
                        .slide-cont.top30
                            h1 旅行派
                            p ——最全最完整的行程攻略
            .shade
                .bg
                .s
                    i.ico02.ico02-position
                    #fromWrap
                    b#from(data-page = "index") 北京
                    //
                        input.s-ip.w40(type="text" name="fromName" placeholder='城市' id="from" onkeyup="suggestion_from(this.value)" autocomplete="off")
                    b.change [更换]
                    b.line
                    i.ico02.ico02-where
                    b 想去:
                    input.s-ip#arrive(type="text" name="arrivName" placeholder='景点/城市/省份'  onkeyup="suggestion_to(this.value)" autocomplete="off")
                    //
                        i.ico-addpos
                    a(href="javascript:;" onclick="go_plan_list()")
                        #search-btn.s-btn

    #suggestion_to.suggestion(style="width:380px;")
    .content.f-cb
        //- p.t
        //-     b.txt01 精彩的旅程，也需要你的发现
        .c-nav
            a.new
                b |
                span 新鲜出炉
            a.editor
                b |
                span 小编推荐
            a.mustgo
                b |
                span 不可不去
            a.pop
                b |
                span 人气之旅
        .new_routes
            .c-left
                .num 1
                p 这里汇集了旅行达人们最新发布的旅行攻略。
            .c-right.f-cb
                #m-list.main
                    each route in newRoute
                        .m-list.fl.w50
                            a(href='javascript:;' data-url='/plans/detail/#{route.id}')
                                .layer
                                if route.images
                                    if route.images.length
                                        img(src=route.images[0].url + "?imageView2/1/w/342/h/180" width=342 height=180)
                                    else
                                        <img src="/images/index/342-180.png" width="342" height="180">
                                else
                                    <img src="/images/index/342-180.png" width="342" height="180">
                            .left
                                .bottom
                                    img(src=route.editorAvatar width=35 height=35)
                            .right
                                .m
                                    h2
                                        a(href='javascript:;' data-url='/plans/detail/#{route.id}') #{route.name}
                                    p
                                        if route.description.desc
                                          - var short_desc = route.description.desc.toString().substring(0, 40)
                                          | #{short_desc}...
                                    .label #{route.editor}
        .editor_routes(style='display: none;')
            .c-left
                .num 2
                p 软妹子小编每日加班为您精选，篇篇攻略是经典，内容已审有保证。
            .c-right.f-cb
                #m-list.main
                    each route in editorRoute
                        .m-list.fl.w50
                            a(href='javascript:;' data-url='/plans/detail/#{route.id}')
                                .layer
                                if route.images
                                    if route.images.length
                                        img(src=route.images[0].url + "?imageView2/1/w/342/h/180" width=342 height=180)
                                    else
                                        <img src="http://lvxingpai-img-store.qiniudn.com/assets/images/46fcfe9041da2dc012630f39405e8cd5.jpg?imageView2/1/w/342/h/180" width="342" height="180">
                                else
                                    <img src="http://lvxingpai-img-store.qiniudn.com/assets/images/46fcfe9041da2dc012630f39405e8cd5.jpg?imageView2/1/w/342/h/180" width="342" height="180">
                                //
                                    img(src=route.image[0].url+"?imageView2/1/w/342/h/180" width=342 height=180)
                            .left
                                //
                                    .top
                                        img(src='/images/index/ca.png')
                                .bottom
                                    img(src=route.editorAvatar width=35 height=35)
                            .right
                                .m
                                    h2
                                        a(href='javascript:;' data-url='/plans/detail/#{route.id}') #{route.name}
                                    p
                                        if route.description.desc
                                            - var short_desc = route.description.desc.toString().substring(0, 40)
                                            | #{short_desc}...
                                    .label #{route.editor}
        .mustgo_routes(style='display: none;')
            .c-left
                .num 3
                p 有人说旅行是一种生活，我们说每样的生活都有一些不可不去的旅行。
            .c-right.f-cb
                #m-list.main
                    each route in mustgoRoute
                        .m-list.fl.w50
                            a(href='javascript:;' data-url='/plans/detail/#{route.id}')
                                .layer
                                if route.images
                                    if route.images.length
                                        img(src=route.images[0].url + "?imageView2/1/w/342/h/180" width=342 height=180)
                                    else
                                        <img src="http://lvxingpai-img-store.qiniudn.com/assets/images/46fcfe9041da2dc012630f39405e8cd5.jpg?imageView2/1/w/342/h/180" width="342" height="180">
                                else
                                    <img src="http://lvxingpai-img-store.qiniudn.com/assets/images/46fcfe9041da2dc012630f39405e8cd5.jpg?imageView2/1/w/342/h/180" width="342" height="180">
                                //
                                    img(src=route.image[0].url+"?imageView2/1/w/342/h/180" width=342 height=180)
                            .left
                                .bottom
                                    img(src=route.editorAvatar width=35 height=35)
                            .right
                                .m
                                    h2
                                        a(href='javascript:;' data-url='/plans/detail/#{route.id}') #{route.name}
                                    p
                                        if route.description.desc
                                            - var short_desc = route.description.desc.toString().substring(0, 40)
                                            | #{short_desc}...
                                    .label #{route.editor}
        .pop_routes(style='display: none;')
            .c-left
                .num 4
                p 这里收集有当下最热门目的地的旅行攻略。
            .c-right.f-cb
                #m-list.main
                    each route in popRoute
                        .m-list.fl.w50
                            a(href='javascript:;' data-url='/plans/detail/#{route.id}')
                                .layer
                                if route.images
                                    if route.images.length
                                        img(src=route.images[0].url + "?imageView2/1/w/342/h/180" width=342 height=180)
                                    else
                                        <img src="http://lvxingpai-img-store.qiniudn.com/assets/images/46fcfe9041da2dc012630f39405e8cd5.jpg?imageView2/1/w/342/h/180" width="342" height="180">
                                else
                                    <img src="http://lvxingpai-img-store.qiniudn.com/assets/images/46fcfe9041da2dc012630f39405e8cd5.jpg?imageView2/1/w/342/h/180" width="342" height="180">
                            .left
                                .bottom
                                    img(src=route.editorAvatar width=35 height=35)
                            .right
                                .m
                                    h2
                                        a(href='javascript:;' data-url='/plans/detail/#{route.id}') #{route.name}
                                    p
                                        if route.description.desc
                                            - var short_desc = route.description.desc.toString().substring(0, 40)
                                            | #{short_desc}...
                                    .label #{route.editor}
