extends common/base

block page_var
    script.
        var page_var = {
            id: 'index',
            path: '',
        }
    script(src='http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js' type='text/ecmascript')
    
    
    
block content
    .bd
        .slider-content
            .slider-container
                .main-slider
                    .slide-item(style='display: block;')
                        img(src='/images/index/banner.jpg')
                        .slide-cont.top30
                            h1 旅行派
                            | 最全最完整的行程攻略
                    //
                        .slide-item(style='display: block;')
                            img(src='/images/index/01.jpg')
                            .slide-cont
                                h1 景点介绍
                                p
                                    | 景点介绍
                                    br
                                    | 景点介绍景点介绍景点介绍
            .shade
                .bg
                .s
                    i.ico02.ico02-position
                    b
                        | 我的位置 : 
                    input.s-ip(type="text" name="fromName" id="from" onkeyup="suggestion_from(this.value)" autocomplete="off")
                    
                    b.line
                    i.ico02.ico02-where
                    b 想要去哪玩 : 
                    input.s-ip(type="text" name="arrivName" id="arrive" onkeyup="suggestion_to(this.value)" autocomplete="off")
                    a(href="#" onclick="go_plan_list()")
                        #search-btn.s-btn()
                    #suggestion_to.suggestion(style="margin-left:270px;width:373px;")
                    #suggestion_from.suggestion(style="width:250px;")
    .content.f-cb
        //- p.t
        //-     b.txt01 精彩的旅程，也需要你的发现
        .c-nav
            a.new
                b |
                span 新鲜出炉
            a.editor
                b |
                span 小编推荐
            a.mustgo
                b |
                span 不可不去
            a.pop
                b |
                span 人气之旅
        .new_routes
            .c-left
                .num 1
                p 这里汇集了旅行达人们最新发布的旅行攻略。
            .c-right.f-cb
                #m-list.main
                    each route in newRoute
                        .m-list.fl.w50
                            a(href='/route/detail/#{route.id}')
                                .layer
                                if route.image
                                    if route.image.length
                                        img(src=route.image[0].url + "?imageView2/1/w/342/h/180" width=342 height=180)
                                    else
                                        <img src="/images/index/342-180.png" width="342" height="180">
                                else
                                    <img src="/images/index/342-180.png" width="342" height="180">
                            .left
                                .bottom
                                    img(src=route.editorAvatar width=35 height=35)
                            .right
                                .m
                                    h2
                                        a(href='/route/detail/#{route.id}') #{route.name}
                                    p
                                        if route.description.desc
                                          - var short_desc = route.description.desc.toString().substring(0, 40)
                                          | #{short_desc}...
                                    .label #{route.editor}
        .editor_routes(style='display: none;')
            .c-left
                .num 2
                p 软妹子小编每日加班为您精选，篇篇攻略是经典，内容已审有保证。
            .c-right.f-cb
                #m-list.main
                    each route in editorRoute
                        .m-list.fl.w50
                            a(href='/route/detail/#{route.id}')
                                .layer
                                if route.image
                                    if route.image.length
                                        img(src=route.image[0].url + "?imageView2/1/w/342/h/180" width=342 height=180)
                                    else
                                        <img src="http://lvxingpai-img-store.qiniudn.com/assets/images/46fcfe9041da2dc012630f39405e8cd5.jpg?imageView2/1/w/342/h/180" width="342" height="180">
                                else
                                    <img src="http://lvxingpai-img-store.qiniudn.com/assets/images/46fcfe9041da2dc012630f39405e8cd5.jpg?imageView2/1/w/342/h/180" width="342" height="180">
                                //
                                    img(src=route.image[0].url+"?imageView2/1/w/342/h/180" width=342 height=180)
                            .left
                                //
                                    .top
                                        img(src='/images/index/ca.png')
                                .bottom
                                    img(src=route.editorAvatar width=35 height=35)
                            .right
                                .m
                                    h2
                                        a(href='/route/detail/#{route.id}') #{route.name}
                                    p
                                        if route.description.desc
                                            - var short_desc = route.description.desc.toString().substring(0, 40)
                                            | #{short_desc}...
                                    .label #{route.editor}
        .mustgo_routes(style='display: none;')
            .c-left
                .num 3
                p 有人说旅行是一种生活，我们说每样的生活都有一些不可不去的旅行。
            .c-right.f-cb
                #m-list.main
                    each route in mustgoRoute
                        .m-list.fl.w50
                            a(href='/route/detail/#{route.id}')
                                .layer
                                if route.image
                                    if route.image.length
                                        img(src=route.image[0].url + "?imageView2/1/w/342/h/180" width=342 height=180)
                                    else
                                        <img src="http://lvxingpai-img-store.qiniudn.com/assets/images/46fcfe9041da2dc012630f39405e8cd5.jpg?imageView2/1/w/342/h/180" width="342" height="180">
                                else
                                    <img src="http://lvxingpai-img-store.qiniudn.com/assets/images/46fcfe9041da2dc012630f39405e8cd5.jpg?imageView2/1/w/342/h/180" width="342" height="180">
                                //    
                                    img(src=route.image[0].url+"?imageView2/1/w/342/h/180" width=342 height=180)
                            .left
                                .bottom
                                    img(src=route.editorAvatar width=35 height=35)
                            .right
                                .m
                                    h2
                                        a(href='/route/detail/#{route.id}') #{route.name}
                                    p
                                        if route.description.desc
                                            - var short_desc = route.description.desc.toString().substring(0, 40)
                                            | #{short_desc}...
                                    .label #{route.editor}
        .pop_routes(style='display: none;')
            .c-left
                .num 4
                p 这里收集有当下最热门目的地的旅行攻略。
            .c-right.f-cb
                #m-list.main
                    each route in popRoute
                        .m-list.fl.w50
                            a(href='/route/detail/#{route.id}')
                                .layer
                                if route.image
                                    if route.image.length
                                        img(src=route.image[0].url + "?imageView2/1/w/342/h/180" width=342 height=180)
                                    else
                                        <img src="http://lvxingpai-img-store.qiniudn.com/assets/images/46fcfe9041da2dc012630f39405e8cd5.jpg?imageView2/1/w/342/h/180" width="342" height="180">
                                else
                                    <img src="http://lvxingpai-img-store.qiniudn.com/assets/images/46fcfe9041da2dc012630f39405e8cd5.jpg?imageView2/1/w/342/h/180" width="342" height="180">
                            .left
                                .bottom
                                    img(src=route.editorAvatar width=35 height=35)
                            .right
                                .m
                                    h2
                                        a(href='/route/detail/#{route.id}') #{route.name}
                                    p
                                        if route.description.desc
                                            - var short_desc = route.description.desc.toString().substring(0, 40)
                                            | #{short_desc}...
                                    .label #{route.editor}
