extends common/base

block page_var
    script.
        var page_var = {
            id: 'index',
            path: '',
        }
    script(src='http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js' type='text/ecmascript')
    
    
    
block content
    .bd
        .slider-content
            .slider-container
                .main-slider
                    .slide-item(style='display: block;')
                        img(src='/images/index/01.jpg')
                        .slide-cont
                            h1 景点介绍
                            p
                                | 景点介绍
                                br
                                | 景点介绍景点介绍景点介绍
                    .slide-item
                        img(src='/images/index/02.jpg')
                        .slide-cont
                            h1 标题标题标题
                            | 文字文字文字文字文字文字文字文字
                    .slide-item
                        img(src='/images/index/03.jpg')
                        .slide-cont
                            h1 标题标题标题
                            | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
                            | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
            .shade
                .bg
                .s
                    i.ico02.ico02-position
                    b
                        | 我的位置 :
                        i.tips 请输入您的位置
                    input.s-ip(type="text" name="fromName" id="from" onkeyup="suggestion_from(this.value)" autocomplete="off")
                    td
                        div(id="popup" style="position: absolute;")
                            table(width="100%" bgcolor="#fffafa")
                                tbody(id="popupBody")
                    #suggestion_from.suggestion(style="width:250px;")
                    b.line
                    i.ico02.ico02-where
                    b 想要去哪玩 :
                    td
                        input.s-ip(type="text" name="arrName" id="arrive" onkeyup="suggestion_to(this.value)" autocomplete="off")
                        div(id="popup" style="position: absolute;")
                            table(width="100%" bgcolor="#fffafa")
                                tbody(id="popupBody")
                    a(href="#" onclick="go_plan_list()")
                        #search-btn.s-btn()
                    #suggestion_to.suggestion(style="margin-left:255px;")

    </div>
    .content.f-cb
        p.t
            b.txt01 精彩的旅程，也需要你的发现
            b.txt02 发现你喜欢的旅行
        .c-nav
            a.new
                b |
                span 新鲜出炉
            a.editor
                b |
                span 小编推荐
            a.mustgo
                b |
                span 不可不去
            a.pop
                b |
                span 人气之旅
        .new_routes
            .c-left
                h2 title title titl etitlsdfdfd dsfsd sdfds fds tletitle
                p contex tcontex tcontex tco ntex tcont extcon textco ntex tcontext
                a.arr-c
                    i.ico01.ico01-arr
                    | View all blog posts
            .c-right.f-cb
                #m-list.main
                    each route in newRoute
                        .m-list.fl.w50
                            .layer
                            a(href='/plan/detail/#{route._id}')
                                img(src=route.image[0].url width=342 height=180)
                            .left
                                .top
                                    img(src='/images/index/ca.png')
                                .bottom
                                    img(src=route.editorAvatar width=40 height=40)
                            .right
                                .m
                                    h2
                                        a(href='/route/detail/#{route.id}') #{route.name}
                                    .label Posted by #{route.editor}
                                    p
                            .bottom
                                a(href='/plan/detail/#{route._id}').arr-c
                                    i.ico01.ico01-arr
                                    | 点击更多
                    .more
                        i.ico02.ico02-loading
                        a.btn 加载更多···
        .editor_routes(style='display: none;')
            .c-left
                h2 title title titl etitlsdfdfd dsfsd sdfds fds tletitle
                p contex tcontex tcontex tco ntex tcont extcon textco ntex tcontext
                a.arr-c
                    i.ico01.ico01-arr
                    | View all blog posts
            .c-right.f-cb
                #m-list.main
                    each route in editorRoute
                        .m-list.fl.w50
                            .layer
                            a(href='/plan/detail/#{route._id}')
                                img(src=route.image[0].url width=342 height=180)
                            .left
                                .top
                                    img(src='/images/index/ca.png')
                                .bottom
                                    img(src=route.editorAvatar width=40 height=40)
                            .right
                                .m
                                    h2
                                        a(href='/route/detail/#{route.id}') #{route.name}
                                    .label Posted by #{route.editor}
                                    p
                            .bottom
                                a(href='/plan/detail/#{route._id}').arr-c
                                    i.ico01.ico01-arr
                                    | 点击更多
                    .more
                        i.ico02.ico02-loading
                        a.btn 加载更多···
        .mustgo_routes(style='display: none;')
            .c-left
                h2 title title titl etitlsdfdfd dsfsd sdfds fds tletitle
                p contex tcontex tcontex tco ntex tcont extcon textco ntex tcontext
                a.arr-c
                    i.ico01.ico01-arr
                    | View all blog posts
            .c-right.f-cb
                #m-list.main
                    each route in mustgoRoute
                        .m-list.fl.w50
                            .layer
                            a(href='/plan/detail/#{route._id}')
                                img(src=route.image[0].url width=342 height=180)
                            .left
                                .top
                                    img(src='/images/index/ca.png')
                                .bottom
                                    img(src=route.editorAvatar width=40 height=40)
                            .right
                                .m
                                    h2
                                        a(href='/route/detail/#{route.id}') #{route.name}
                                    .label Posted by #{route.editor}
                                    p
                            .bottom
                                a(href='/plan/detail/#{route._id}').arr-c
                                    i.ico01.ico01-arr
                                    | 点击更多
                    .more
                        i.ico02.ico02-loading
                        a.btn 加载更多···
        .pop_routes(style='display: none;')
            .c-left
                h2 title title titl etitlsdfdfd dsfsd sdfds fds tletitle
                p contex tcontex tcontex tco ntex tcont extcon textco ntex tcontext
                a.arr-c
                    i.ico01.ico01-arr
                    | View all blog posts
            .c-right.f-cb
                #m-list.main
                    each route in popRoute
                        .m-list.fl.w50
                            .layer
                            a(href='/plan/detail/#{route._id}')
                                img(src=route.image[0].url width=342 height=180)
                            .left
                                .top
                                    img(src='/images/index/ca.png')
                                .bottom
                                    img(src=route.editorAvatar width=40 height=40)
                            .right
                                .m
                                    h2
                                        a(href='/route/detail/#{route.id}') #{route.name}
                                    .label Posted by #{route.editor}
                                    p
                            .bottom
                                a(href='/plan/detail/#{route._id}').arr-c
                                    i.ico01.ico01-arr
                                    | 点击更多
                    .more
                        i.ico02.ico02-loading
                        a.btn 加载更多···
