extends common/base


block page_var
    script(src='/javascripts/lib/cityselector.js', rel='javascripts')
    link(href='/stylesheets/lib/cityselector.css', rel='stylesheet')
    script.
        var page_var = {
            id: 'index',
            path: '',
            use_require_js: false
        }
    script(src='http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js' type='text/ecmascript')

    title 旅行派——想旅行，你就派一下！

block content
    .bd
        .slider-content
            .slider-container
                .main-slider
                    .slide-item(style='display: block;')
                        img(src='/images/index/banner.jpg')
                        //
                            .slide-cont.top30
                                h1 旅行派
                                p ——最全最完整的行程攻略
            .shade
                .bg
                .s
                    i.ico02.ico02-position
                    #fromWrap
                    b#from(data-page = "index") 北京
                    //
                        input.s-ip.w40(type="text" name="fromName" placeholder='城市' id="from" onkeyup="suggestion_from(this.value)" autocomplete="off")
                    b.change [更换]
                    b.line
                    i.ico02.ico02-where
                    b 想去:
                    input.s-ip#arrive(type="text" name="arrivName" placeholder='景点/城市/省份'  onkeyup="suggestion_to(this.value)" autocomplete="off")
                    //
                        i.ico-addpos
                    a(href="javascript:;" onclick="go_plan_list()")
                        #search-btn.s-btn

    #suggestion_to.suggestion(style="width:380px;")
    .content.f-cb
        h1.title 最热路线
        .c-nav
            a.new
                span 新鲜出炉
            a.editor
                span 小编推荐
            a.mustgo
                span 不可不去
            a.pop
                span 人气之旅
        .new_routes.routes
            .c-right.f-cb
                #m-list.main
                    each route in newRoute
                        .m-list.fl
                            a(href='javascript:;' data-url='/plans/detail/#{route.id}')
                                .layer
                                if route.images
                                    if (route.images.length && route.images[0].url)
                                        img(src=route.images[0].url + "?imageView2/1/w/300/h/200")
                                    else
                                        .placeholder
                                else
                                    .placeholder
                            .left
                                .bottom
                                    img(src=route.editorAvatar width=35 height=35)
                            .right
                                .m
                                    h2
                                        a(href='javascript:;' data-url='/plans/detail/#{route.id}') #{route.name}
                                    .label #{route.editor}
                                    p
                                        if route.desc
                                          - var short_desc = route.desc.toString().substring(0, 25)
                                          | #{short_desc}...
        .editor_routes(style='display: none;').routes
            .c-right.f-cb
                #m-list.main
                    each route in editorRoute
                        .m-list.fl
                            a(href='javascript:;' data-url='/plans/detail/#{route.id}')
                                .layer
                                if route.images
                                    if (route.images.length && route.images[0].url)
                                        img(src=route.images[0].url + "?imageView2/1/w/300/h/200")
                                    else
                                        .placeholder
                                else
                                    .placeholder
                            .left
                                .bottom
                                    img(src=route.editorAvatar width=35 height=35)
                            .right
                                .m
                                    h2
                                        a(href='javascript:;' data-url='/plans/detail/#{route.id}') #{route.name}
                                    .label #{route.editor}
                                    p
                                        if route.desc
                                            - var short_desc = route.desc.toString().substring(0, 25)
                                            | #{short_desc}...
        .mustgo_routes(style='display: none;').routes
            .c-right.f-cb
                #m-list.main
                    each route in mustgoRoute
                        .m-list.fl
                            a(href='javascript:;' data-url='/plans/detail/#{route.id}')
                                .layer
                                if route.images
                                    if (route.images.length && route.images[0].url)
                                        img(src=route.images[0].url + "?imageView2/1/w/300/h/200")
                                    else
                                        .placeholder
                                else
                                    .placeholder
                            .left
                                .bottom
                                    img(src=route.editorAvatar width=35 height=35)
                            .right
                                .m
                                    h2
                                        a(href='javascript:;' data-url='/plans/detail/#{route.id}') #{route.name}
                                    .label #{route.editor}
                                    p
                                        if route.desc
                                            - var short_desc = route.desc.toString().substring(0, 25)
                                            | #{short_desc}...
        .pop_routes(style='display: none;').routes
            .c-right.f-cb
                #m-list.main
                    each route in popRoute
                        .m-list.fl
                            a(href='javascript:;' data-url='/plans/detail/#{route.id}')
                                .layer
                                if route.images
                                    if (route.images.length && route.images[0].url)
                                        img(src=route.images[0].url + "?imageView2/1/w/300/h/200")
                                    else
                                        .placeholder
                                else
                                    .placeholder
                            .left
                                .bottom
                                    img(src=route.editorAvatar width=35 height=35)
                            .right
                                .m
                                    h2
                                        a(href='javascript:;' data-url='/plans/detail/#{route.id}') #{route.name}
                                    .label #{route.editor}
                                    p
                                        if route.desc
                                            - var short_desc = route.desc.toString().substring(0, 25)
                                            | #{short_desc}...

//        .articles
//            h1.title 最火文章
//            .c-right.f-cb
//                #m-list.main
//                    each article in articles
//                        .m-list.fl
//                            a(href='/misc/article/#{article.id}')
//                                .layer
//                                if article.images
//                                    if article.images.length
//                                        img(src=article.images[0].url + "?imageView2/1/w/300/h/200" width=300 height=200)
//                                    else
//                                        img(src="/images/index/342-180.png" width="300" height="200")
//                                else
//                                    img(src="/images/index/342-180.png" width="300" height="200")
//                            .right
//                                .m2
//                                    h2
//                                        a(href='/misc/article/#{article.id}') #{article.title}
//                                    .label by #{article.authorName}
//                                        span.date #{article.publishTime}
//                                    p
//                                        if article.desc
//                                            - var short_desc = article.desc.toString().substring(0, 25)
//                                            | #{short_desc}...

