extends common/base

block page_var
    script.
        var page_var = {
            id: 'plans',
            path: '',
        }
    
block content
    .content.f-cb
      .bd
        h1.t(data-fromid=fromId data-arriveId=arriveId) #{fromName}——#{arriveName}
      //
        .c
          .play-theme
            i.line |
            b.t 游玩主题
            a.btn02.btn02-c1 不限
            a.btn02 亲子
            a.btn02 情侣
            a.btn02 蜜月
            a.btn02 美食
            a.btn02 购物
            a.btn02 朋友
            a.btn02 养生
            a.btn02 家庭
            a.btn02 自驾
            a.btn02 度假
            a.btn02 徒步
            a.btn02 青春
            a.btn02 夕阳红
          <br>
          .out-days  
            i.line |
            b.t 出行天数
            a.btn02.btn02-c1(data-days='0-99') 不限
            a.btn02(data-days='0-3') 1-3天
            a.btn02(data-days='4-7') 4-7天
            a.btn02(data-days='8-99') 7天以上
      ul.routelist.f-cb
        if plans.length > 0
          each plan in plans
            li(data-url="/route/plans/detail/#{plan._id}")
              a.c-img.rel
                img(src='#{plan.imageList}' + '?imageView2/1/w/285/h/215')
                img.most_tag(src='/images/route/triangle.png')
                h2.most_tag #{plan.lxpTag}
                | <!--[if lte IE 8]>
                .most_tag_ie #{plan.lxpTag}
                | <![endif]-->
              .c2
                h2 #{plan.title}
                p.txt
                  if plan.desc
                    - var short_desc = plan.desc.substring(0, 60)
                    | #{short_desc}...
                  a.btn02.btn02-c1 点击更多
                p.ico-g.fl.w50
                  i.ico01.ico01-route
                  b 线路特色-
                  each tag in plan.tags
                    | #{tag}
                p.ico-g.fl.w50
                  i.ico01.ico01-spot
                  b #{plan.vsCnt}个景点，共#{plan.days}天
                p.ico-g.fl.w50
                  i.ico01.ico01-cost
                  b 预计花费 ￥#{plan.budget[0]}-￥#{plan.budget[1]}
                a.btn02.btn02-c4(href='/plans/timeline/' + plan._id + '?_fromLoc=' + fromId)复制路线
        else
          .no-data 很遗憾，没有为您找到相关路线，请尝试输入其他目的地。
            a(href='/') 回首页
      .more
        i.ico02.ico02-loading
        a.btn 加载更多···
      .sider(style='display: none;')
        .tab
          a#tab01.item.item01-hover
          a#tab02.item.item02-normal
        #item01.tab-c
          .loading
            i.ico02.ico02-loading
            a.btn 正在加载中···
          .c(style='display: none;')
            h1.routename
            p
              span.day
                b.dot ·
                span 全程12天
              span.cost
                b.dot ·
                span 人均3000-40000元
              br
              span.tags
                b.dot ·
                span 旅途印象：感官盛宴，美景不暇，摄影的天堂，沧桑怀古
          .c(style='display: none;')
            h2.t1.t2
                i.ico02.ico02-circle
                b 路线速览
            ul.l
          .c(style='display: none;')
            h3.t1.t2
                i.ico02.ico02-circle
                b.routename 台北三日深度体验之旅
                .moredesc

        #item02.tab-c(style='display: none;')
          .loading
            i.ico02.ico02-loading
            a.btn 正在加载中···
          ul.about-list
    .layer(style='display: none;')
