extends common/base

block page_var
    script.
        var page_var = {
            id: 'plans',
            path: '',
        }
    
block content
    .bd
      h1.t #{from}——#{to}
    .content.f-cb
      .c
        i.line |
        b.t 游玩主题
        a.btn02.btn02-c1 不限
        a.btn02.btn02-c2 亲子
        a.btn02 情侣
        a.btn02 蜜月
        a.btn02 美食
        a.btn02 家庭
        a.btn02 购物
        a.btn02 养生
        a.btn02 白鹭
        a.btn02 夕阳红
        <br>
        i.line |
        b.t 出行天数
        a.btn02.btn02-c3 不限
        a.btn02.btn02-c2 1-3天
        a.btn02 4-7天
        a.btn02 7-10天
        a.btn02 10-15天
        a.btn02 15天以上
      ul.routelist.f-cb
        each plan in plans
          li(data-url="/plans/detail/#{plan._id}")
            a.c-img
              img(src='#{plan.imageList}')
            .c2
              h2 #{plan.title}
              p.txt
                if plan.desc
                  - var short_desc = plan.desc.substring(0, 60)
                  | #{short_desc}... 
                
                a.btn02.btn02-c1 点击更多
              p.ico-g.fl.w50
                i.ico01.ico01-route
                b 线路特色- 
                each tag in plan.tags
                  | #{tag} 
              p.ico-g.fl.w50
                i.ico01.ico01-spot
                b 12个景点，共#{plan.days}天
              p.ico-g.fl.w50
                i.ico01.ico01-cost
                b 预计花费 ￥#{plan.budget[0]}-￥#{plan.budget[1]}
              a.btn02.btn02-c4(href='/plans/timeline/' + plan._id + '?_fromLoc=' + fromId)复制路线
      .sider(style='display: none;')
        .tab
          a#tab01.item.item01-hover
          a#tab02.item.item02-normal
        #item01.tab-c
          .c
            h1.t1 
            p
              span.day
                b.dot ·
                | 全程12天
              span.cost
                b.dot ·
                | 人均3000-40000元
              br
              span.goodtime
                b.dot ·
                | 适合月份：四季皆宜
              br
              span.tags
                b.dot ·
                | 旅途印象：感官盛宴，美景不暇，摄影的天堂，沧桑怀古
              
          .c
            h2.t1.t2 |路线速览
            ul.l
              
              
              
              
              
          .c
            h3.t1.t2
              i.ico02.ico02-circle
              b 台北三日深度体验之旅
              
              
              
        #item02.tab-c(style='display: none;')
          ul.about-list
            li
              img.sider-userimg(src='/images/plans/user02.png')
              h1.t1 表面上是现代大都会，但内心却又但内心却又但内心却又但内心却又，抹不掉的电缆附件
              em.au SAFSREWAG　FLFJ 发表
              em.time 2014-10-1
              p.txt
                | 他是亚洲的一颗明珠，在静谧的男孩中熠熠生辉。他是张爱玲那座
                | 货没到的是悲哀的成，里几是悲哀的成，里几是悲哀的成，里几个
              p.ico-g.fl
                i.ico01.ico01-eye
                b 浏览2345
              p.ico-g.fl
                i.ico01.ico01-source
                b 文章来自穷游网
            li
              img.sider-userimg(src='/images/plans/headpic.png')
              h1.t1 表面上是现代大都会，但内心却又但内心却又但内心却又但内心却又，抹不掉的电缆附件
              em.au SAFSREWAG　FLFJ 发表
              em.time 2014-10-1
              p.txt
                | 他是亚洲的一颗明珠，在静谧的男孩中熠熠生辉。他是张爱玲那座
                | 货没到的是悲哀的成，里几是悲哀的成，里几是悲哀的成，里几个
              p.ico-g.fl
                i.ico01.ico01-eye
                b 浏览2345
              p.ico-g.fl
                i.ico01.ico01-source
                b 文章来自穷游网
            li
              img.sider-userimg(src='/images/plans/headpic.png')
              h1.t1 表面上是现代大都会，但内心却又但内心却又但内心却又但内心却又，抹不掉的电缆附件
              em.au SAFSREWAG　FLFJ 发表
              em.time 2014-10-1
              p.txt
                | 他是亚洲的一颗明珠，在静谧的男孩中熠熠生辉。他是张爱玲那座
                | 货没到的是悲哀的成，里几是悲哀的成，里几是悲哀的成，里几个
              p.ico-g.fl
                i.ico01.ico01-eye
                b 浏览2345
              p.ico-g.fl
                i.ico01.ico01-source
                b 文章来自穷游网
            li
              img.sider-userimg(src='/images/plans/headpic.png')
              h1.t1 表面上是现代大都会，但内心却又但内心却又但内心却又但内心却又，抹不掉的电缆附件
              em.au SAFSREWAG　FLFJ 发表
              em.time 2014-10-1
              p.txt
                | 他是亚洲的一颗明珠，在静谧的男孩中熠熠生辉。他是张爱玲那座
                | 货没到的是悲哀的成，里几是悲哀的成，里几是悲哀的成，里几个
              p.ico-g.fl
                i.ico01.ico01-eye
                b 浏览2345
              p.ico-g.fl
                i.ico01.ico01-source
                b 文章来自穷游网
            li
              img.sider-userimg(src='/images/plans/headpic.png')
              h1.t1 表面上是现代大都会，但内心却又但内心却又但内心却又但内心却又，抹不掉的电缆附件
              em.au SAFSREWAG　FLFJ 发表
              em.time 2014-10-1
              p.txt
                | 他是亚洲的一颗明珠，在静谧的男孩中熠熠生辉。他是张爱玲那座
                | 货没到的是悲哀的成，里几是悲哀的成，里几是悲哀的成，里几个
              p.ico-g.fl
                i.ico01.ico01-eye
                b 浏览2345
              p.ico-g.fl
                i.ico01.ico01-source
                b 文章来自穷游网
    .layer(style='display: none;')
