extends common/base

block page_var
    script.
        var page_var = {
            id: 'route',
            path: '',
            use_require_js: true
        }


block content
    .full-screen
        .bg-blue
            .search-bg
                i.ico-position
                b 北京
                b.change [更换]
                b.line
                input(type="text" name="arrivName" placeholder='景点/城市/省份' id="arrive" onkeyup="suggestion_to(this.value)" autocomplete="off")
                i.ico-addpos
                a(href="#" onclick="go_plan_list()")
                    #search-btn.s-btn()
                #suggestion_to.suggestion(style="margin-left:270px;width:373px;")
                #suggestion_from.suggestion(style="width:250px;")
        .route_container
            ul.filter-nav
                - var index = 0;
                each filter in route_filters
                    li
                        a
                            b   #{filter.type}
                            i.ico-arr01
                        .layer
                            ul
                                each option in filter.options
                                    - index = index + 1;
                                    li
                                        input.cb(id='cb-#{index}' name='#{filter.name}' data-item='#{option}' type="checkbox")
                                        label(for='cb-#{index}') #{option}
                                .list-last
            .select-list
            .gap
                .route-sum
                    |   #{plans.length}条线路
                .sort.bluebg
                    |   按使用人数
                    i.ico-arr03
            ul.routelist
                if plans.length > 0
                    each plan in plans
                        li.route(data-id='#{plan._id}')
                            .left
                                if (plan.imageList[0])
                                    img(src='#{plan.imageList}' + '?imageView2/1/w/165/h/150' width=165 height=150)
                                else
                                    img(src="/images/route/index/285-215.png" width="165" height="150")
                                img.most_tag(src='/images/route/index/triangle.png')
                                h2.most_tag #{plan.lxpTag}
                            .right
                                h2.r-title  #{plan.title}
                                h3.usetimes  (#{plan.forkedCnt}人使用)
                                p.txt
                                    if plan.desc
                                        - var short_desc = plan.desc.substring(0, 50)
                                        | #{short_desc}
                                        if (plan.desc.length > 50)
                                            | ...
                                p
                                    i.ico01.ico01-route
                                    b 线路特色-
                                        -   var j = 0;
                                        each tag in plan.tags
                                            if (j<3)
                                                if (j>0)
                                                    | ,
                                                | #{tag}
                                            -   j++;
                                p
                                    i.ico01.ico01-spot
                                    b 全程#{plan.vsCnt}个景点，共#{plan.days}天
                                p
                                    i.ico01.ico01-cost
                                    b 预算 ￥#{plan.budget[0]}-￥#{plan.budget[1]}
                                a.fork.ico-fork(href="javascript:;" data-id='#{plan._id}')
                else
                    .no-data 很遗憾，没有为您找到相关路线，请尝试输入其他目的地。
        .map_container
            #map_inner

    script(src='/javascripts/lib/icheck.min.js' rel='javascript')
    script(src='/javascripts/lib/jquery.idTabs.min.js' rel='javascript')