extends common/base

block page_var
    script.
        var page_var = {
            id: 'route',
            path: '',
            use_require_js: true 
        }


block content
    .full-screen
        .bg-blue
            .search-bg
                i.ico-position
                b 北京
                b.change [更换]
                b.line
                input(type="text" name="arrivName" placeholder='景点/城市/省份' id="arrive" onkeyup="suggestion_to(this.value)" autocomplete="off")
                i.ico-addpos
                a(href="#" onclick="go_plan_list()")
                    #search-btn.s-btn()
                #suggestion_to.suggestion(style="margin-left:270px;width:373px;")
                #suggestion_from.suggestion(style="width:250px;")
        .route_container
            ul.filter-nav
                li(data-area="ly01")
                    a
                        b   和谁出行
                        i.ico-arr01
                    #ly01.layer
                        ul
                            li
                                input.cb#cb-1(data-item="独自出行" type="checkbox")
                                label(for="cb-1")   独自出行
                            li
                                input.cb#cb-2(data-item="亲子" type="checkbox")
                                label(for="cb-2")   亲子
                            li
                                input.cb#cb-3(data-item="情侣" type="checkbox")
                                label(for="cb-3")   情侣
                            li
                                input.cb#cb-4(data-item="和父母" type="checkbox")
                                label(for="cb-4")   和父母
                            li
                                input.cb#cb-5(data-item="夫妻" type="checkbox")
                                label(for="cb-5")   夫妻
                            li
                                input.cb#cb-6(data-item="和朋友" type="checkbox")
                                label(for="cb-6")   和朋友
                            .list-last
                li(data-area="ly02")
                    a
                        b   游记玩法
                        i.ico-arr01
                    #ly02.layer
                        ul
                            li
                                input.cb#cb-1(data-item="摄影" type="checkbox")
                                label(for="cb-1")   摄影
                            li
                                input.cb#cb-2(data-item="骑行" type="checkbox")
                                label(for="cb-2")   骑行
                            li
                                input.cb#cb-3(data-item="情侣" type="checkbox")
                                label(for="cb-3")   情侣
                            li
                                input.cb#cb-4(data-item="自驾" type="checkbox")
                                label(for="cb-4")   自驾
                            li
                                input.cb#cb-5(data-item="购物" type="checkbox")
                                label(for="cb-5")   购物
                            li
                                input.cb#cb-6(data-item="美食" type="checkbox")
                                label(for="cb-6")   美食
                            li
                                input.cb#cb-7(data-item="人文" type="checkbox")
                                label(for="cb-7")   人文
                            .list-last
                li(data-area="ly03")
                    a
                        b   行程天数
                        i.ico-arr01
                    #ly03.layer
                        ul
                            li
                                input.cb#cb-1(data-item="三天之内" type="checkbox")
                                label(for="cb-1")   三天之内
                            li
                                input.cb#cb-2(data-item="一周之内" type="checkbox")
                                label(for="cb-2")   一周之内
                            li
                                input.cb#cb-3(data-item="一周以上" type="checkbox")
                                label(for="cb-3")   一周以上
                            .list-last
            .select-list
            .gap
                .route-sum
                    |   #{plans.length}条线路
                .sort.bluebg
                    |   按使用人数
                    i.ico-arr03
            ul.routelist
                if plans.length > 0
                    each plan in plans
                        li.route(data-id="#{plan._id}")
                            .left
                                if (plan.imageList[0])
                                    img(src='#{plan.imageList}' + '?imageView2/1/w/165/h/150' width=165 height=150)
                                else
                                    img(src="/images/route/index/285-215.png" width="165" height="150")
                                img.most_tag(src='/images/route/index/triangle.png')
                                h2.most_tag #{plan.lxpTag}
                            .right
                                h2.r-title  #{plan.title}
                                h3.usetimes  (#{plan.forkedCnt}人使用)
                                p.txt
                                    if plan.desc
                                        - var short_desc = plan.desc.substring(0, 50)
                                        | #{short_desc}
                                        if (plan.desc.length > 50)
                                            | ...
                                p
                                    i.ico01.ico01-route
                                    b 线路特色-
                                        -   var j = 0;
                                        each tag in plan.tags
                                            if (j<3)
                                                if (j>0)
                                                    | ,
                                                | #{tag}
                                            -   j++;
                                p
                                    i.ico01.ico01-spot
                                    b 全程#{plan.vsCnt}个景点，共#{plan.days}天
                                p
                                    i.ico01.ico01-cost
                                    b 预算 ￥#{plan.budget[0]}-￥#{plan.budget[1]}
                                a.fork.ico-fork#but(href="javascript:;" onclick='click(this)')
                else
                    .no-data 很遗憾，没有为您找到相关路线，请尝试输入其他目的地。
        .map_container
            #map_inner

    script(src='/javascripts/lib/icheck.min.js' rel='javascript')
    script(src='/javascripts/lib/jquery.idTabs.min.js' rel='javascript')
    script(src='/javascripts/lib/googlemap.api.js' rel='javascript')
