extends common/base

block page_var
    link(href='http://css.lotour.net/destn.css?z', rel='stylesheet')
    link(href='http://css.lotour.net/lt_top.css', rel='stylesheet')
    script.
        var page_var = {
            id: 'target',
            path: '',
        }

block content
    .content
        .wrapGray
            .left-nav
                .search_layer
                    .search_form
                        .search_in
                            .text_input
                                h4 起点:
                                input.s-ip(type="text" name="fromName" placeholder='城市' id="from" onkeyup="suggestion_from(this.value)" autocomplete="off")
                                #suggestion_from.suggestion(style="width:190px;z-index:999;font-size:17px;")
                ul
                    each city_list, regin_name in left_nav_data
                        li= regin_name
                            - var city_num = city_list.length
                            .city-num= city_num
                            .left-nav-second-level
                                each city in city_list
                                    a(type= city.type onclick="target_go_plan_list('" + city.name + "','"+ city.type + "')")= city.name
            .destnMap.clear
                .destnMapL
                    .mapTabSp.mapTabSpCn
                        // ==S 地域名称
                        .dMapName
                            each province in map_data
                                - var class_name = 'name'+province.id
                                h2(class=class_name) #{province.name}
                        // ==E 地域名称
                        // ==S 地图层
                        .destnMap-merc(data-projection='merc', data-name='cn_merc_en')
                        each province in map_data
                            - var province_class = 'dMapLayer dMapbg' + province.id +' CN-' + province.id + ' sphl'
                            - var layer_data = 'CN-' + province.id
                            div(class=province_class, name=province.name, layer-data=layer_data)
                                .dMapLayerCon
                                    - var dMapLayerCon_class = province.dMapLayerCon
                                    i(class=dMapLayerCon_class)
                                    .dMapList
                                        each city in province.cities
                                            dd(style="margin-left:10px;")
                                                a(title='', target='_blank', style="color:#666;", onclick="target_go_plan_list('" + city.name + "','"+ city.type + "')") #{city.name}
                                        dd(style="margin-left:10px;")
                                                a(title='', target='_blank', style="color:#666;", onclick="target_go_plan_list('" + province.name + "','"+ 'province' + "')") 更多
                        // ==E 地图层
        .hot_cities.mt-50
            .title
                i.line |
                b 热门城市
            <br>
            .city-list.list-01
                .col-thin.rig
                    a.type01(href="/route/city/?arrName="+hotCities[0].name + "&fromName=" + fromLoc)
                        .rel
                            img.type01(src=hotCities[0].img+"?imageView2/1/w/190/h/325")
                            .text_layer
                                h2 #{hotCities[0].abbr}
                .col-thick.rig
                    .row-long.bot
                        a.type02(href="/route/city/?arrName="+hotCities[1].name + "&fromName=" + fromLoc)
                            .rel
                                img.type02(src=hotCities[1].img+"?imageView2/1/w/295/h/175")
                                .text_layer
                                    h2 #{hotCities[1].abbr}
                    .row-short.bot
                        a.type03.fl-l(href="/route/city/?arrName="+hotCities[2].name + "&fromName=" + fromLoc)
                            .rel
                                img.type03(src=hotCities[2].img+"?imageView2/1/w/145/h/145")
                                .text_layer
                                    h2 #{hotCities[2].abbr}
                        a.type04.fl-r(href="/route/city/?arrName="+hotCities[3].name + "&fromName=" + fromLoc)
                            .rel
                                img.type04(src=hotCities[3].img+"?imageView2/1/w/145/h/145")
                                .text_layer
                                    h2 #{hotCities[3].abbr}
                .col-thin.rig
                    a.type01(href="/route/city/?arrName="+hotCities[4].name + "&fromName=" + fromLoc)
                        .rel
                            img.type01(src=hotCities[4].img+"?imageView2/1/w/190/h/325")
                            .text_layer
                                h2 #{hotCities[4].abbr}
                .col-thick.rig
                    .row-short.bot
                        a.type03.fl-l(href="/route/city/?arrName="+hotCities[5].name + "&fromName=" + fromLoc)
                            .rel
                                img.type03(src=hotCities[5].img+"?imageView2/1/w/145/h/145")
                                .text_layer
                                    h2 #{hotCities[5].abbr}
                        a.type04.fl-r(href="/route/city/?arrName="+hotCities[6].name + "&fromName=" + fromLoc)
                            .rel
                                img.type04(src=hotCities[6].img+"?imageView2/1/w/145/h/145")
                                .text_layer
                                    h2 #{hotCities[6].abbr}
                    .row-long.bot
                        a.rb.type02(href="/route/city/?arrName="+hotCities[7].name + "&fromName=" + fromLoc)
                            .rel
                                img.type02(src=hotCities[7].img+"?imageView2/1/w/295/h/175")
                                .text_layer
                                    h2 #{hotCities[7].abbr}
        .hot_views.mt-50
            .title
                i.line |
                b 热门景点
            <br>
            .view-list.list-01
                .col-thick.rig
                    .row-short.bot
                        a.type03.fl-l(href="/route/include/?arrName="+hotViews[0].name + "&fromName=" + fromLoc)
                            .rel
                                img.type03(src=hotViews[0].img+"?imageView2/1/w/145/h/145")
                                .text_layer
                                    h2 #{hotViews[0].abbr}
                        a.type04.fl-r(href="/route/include/?arrName="+hotViews[1].name + "&fromName=" + fromLoc)
                            .rel
                                img.type04(src=hotViews[1].img+"?imageView2/1/w/145/h/145")
                                .text_layer
                                    h2 #{hotViews[1].abbr}
                    .row-long.bot
                        a.rb.type02(href="/route/include/?arrName=" +hotViews[2].name + "&fromName=" + fromLoc)
                            .rel
                                img.type02(src=hotViews[2].img+"?imageView2/1/w/295/h/175")
                                .text_layer
                                    h2 #{hotViews[2].abbr}
                .col-thin.rig
                    a.type01(href="/route/include/?arrName="+hotViews[3].name + "&fromName=" + fromLoc)
                        .rel
                            img.type01(src=hotViews[3].img+"?imageView2/1/w/190/h/325")
                            .text_layer
                                h2 #{hotViews[3].abbr}
                .col-thick.rig
                    .row-long.bot
                        a.type02(href="/route/include/?arrName="+hotViews[4].name + "&fromName=" + fromLoc)
                            .rel
                                img.type02(src=hotViews[4].img+"?imageView2/1/w/295/h/175")
                                .text_layer
                                    h2 #{hotViews[4].abbr}
                    .row-short.bot
                        a.type03.fl-l(href="/route/include/?arrName="+hotViews[5].name + "&fromName=" + fromLoc)
                            .rel
                                img.type03(src=hotViews[5].img+"?imageView2/1/w/145/h/145")
                                .text_layer
                                    h2 #{hotViews[5].abbr}
                        a.type04.fl-r(href="/route/include/?arrName="+hotViews[6].name + "&fromName=" + fromLoc)
                            .rel
                                img.type04(src=hotViews[6].img+"?imageView2/1/w/145/h/145")
                                .text_layer
                                    h2 #{hotViews[6].abbr}
                .col-thin.rig
                    a.type01(href="/route/include/?arrName="+hotViews[7].name + "&fromName=" + fromLoc)
                        .rel
                            img.type01(src=hotViews[7].img+"?imageView2/1/w/190/h/325")
                            .text_layer
                                h2 #{hotViews[7].abbr}

    script(src='http://js.lotour.net/jquery-1.8.3.min.js' type='text/ecmascript')
    script(src='http://js.lotour.net/jquery-jvectormap-1.2.2.min.js' type='text/ecmascript')
    script(src='http://js.lotour.net/jquery-jvectormap-china-en.js' type='text/ecmascript')
    script(src='/javascripts/target.js' rel='javascript')
