xtends common/base

block page_var
    script.
        var page_var = {
            id: 'target',
            path: '',
        }

block content
    .content
        #map_container
        .hot_cities
            .title
                i.line |
                b 热门城市
            <br>
            .city-list
                .col-thin.rig
                    a.type01(href="/search?arrLocName="+hotCities[0].name)
                        .rel
                            img.type01(src=hotCities[0].img)
                            .text_layer
                                h2 #{hotCities[0].abbr}
                .col-thick.rig
                    .row-long.bot
                        a.type02(href="/search?arrLocName="+hotCities[1].name)
                            .rel
                                img.type02(src=hotCities[1].img)
                                .text_layer
                                    h2 #{hotCities[1].abbr}
                    .row-short.bot
                        a.type03.fl-l(href="/search?arrLocName="+hotCities[2].name)
                            .rel
                                img.type03(src=hotCities[2].img)
                                .text_layer
                                    h2 #{hotCities[2].abbr}
                        a.type04.fl-r(href="/search?arrLocName="+hotCities[3].name)
                            .rel
                                img.type04(src=hotCities[3].img)
                                .text_layer
                                    h2 #{hotCities[3].abbr}
                .col-thin.rig
                    a.type01(href="/search?arrLocName="+hotCities[4].name)
                        .rel
                            img.type01(src=hotCities[4].img)
                            .text_layer
                                h2 #{hotCities[4].abbr}
                .col-thick.rig
                    .row-short.bot
                        a.type03.fl-l(href="/search?arrLocName="+hotCities[5].name)
                            .rel
                                img.type03(src=hotCities[5].img)
                                .text_layer
                                    h2 #{hotCities[5].abbr}
                        a.type04.fl-r(href="/search?arrLocName="+hotCities[6].name)
                            .rel
                                img.type04(src=hotCities[6].img)
                                .text_layer
                                    h2 #{hotCities[6].abbr}
                    .row-long.bot
                        a.rb.type02(href="/search?arrLocName="+hotCities[7].name)
                            .rel
                                img.type02(src=hotCities[7].img)
                                .text_layer
                                    h2 #{hotCities[7].abbr}
        .hot_views
            .title
                i.line |
                b 热门景点
            <br>
            .view-list
                .col-thick.rig
                    .row-short.bot
                        a.type03.fl-l(href="/search?arrLocName="+hotViews[0].name)
                            .rel
                                img.type03(src=hotViews[0].img)
                                .text_layer
                                    h2 #{hotViews[0].abbr}
                        a.type04.fl-r(href="/search?arrLocName="+hotViews[1].name)
                            .rel
                                img.type04(src=hotViews[1].img)
                                .text_layer
                                    h2 #{hotViews[1].abbr}
                    .row-long.bot
                        a.rb.type02(href="/search?arrLocName="+hotViews[2].name)
                            .rel
                                img.type02(src=hotViews[2].img)
                                .text_layer
                                    h2 #{hotViews[2].abbr}
                .col-thin.rig
                    a.type01(href="/search?arrLocName="+hotViews[3].name)
                        .rel
                            img.type01(src=hotViews[3].img)
                            .text_layer
                                h2 #{hotViews[3].abbr}
                .col-thick.rig
                    .row-long.bot
                        a.type02(href="/search?arrLocName="+hotViews[4].name)
                            .rel
                                img.type02(src=hotViews[4].img)
                                .text_layer
                                    h2 #{hotViews[4].abbr}
                    .row-short.bot
                        a.type03.fl-l(href="/search?arrLocName="+hotViews[5].name)
                            .rel
                                img.type03(src=hotViews[5].img)
                                .text_layer
                                    h2 #{hotViews[5].abbr}
                        a.type04.fl-r(href="/search?arrLocName="+hotViews[6].name)
                            .rel
                                img.type04(src=hotViews[6].img)
                                .text_layer
                                    h2 #{hotViews[6].abbr}
                .col-thin.rig
                    a.type01(href="/search?arrLocName="+hotViews[7].name)
                        .rel
                            img.type01(src=hotViews[7].img)
                            .text_layer
                                h2 #{hotViews[7].abbr}
